@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
<body>


    <h1>Welcome to Croncher!</h1>
    <hr />
    <input id="longUrlText" type="text" value="URL" />
    <button id="cronchSubmit" type="button">Cronch!</button>
    <div id="statusBox"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#cronchSubmit").click(function () {
            $(function () {

                $("#statusBox").html("Generating your link...");
                //Send the request for a new short link, returning the resultant encodedId.
                var longUrl = $("#longUrlText").val();

                $.ajax(
                    {
                        type: "POST",
                        url: "/api/links",
                        data: JSON.stringify({ url: longUrl }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        success: function (data) {
                            var successMessage = "Link generated! ";
                            var shortUrl = window.location.href.concat(data.encodedId);
                            var href = "<a href=\"" + shortUrl + "\">" + shortUrl + "</a>";
                            var finalMessage = successMessage + href;

                            $("#statusBox").html(finalMessage);
                        },
                        error: function () {
                            $("#statusBox").html("<b>Sorry, something went wrong. Are you sure your URL is correct?")
                        }
                    }
                )
            })
        });
    </script>
</body>
</html>